{% extends "base.html" %}

{% block title %}
<title>หน้าแรก</title>
{% endblock %}

{% block content %}
    <h2 class="text-center" style="color: rgb(31, 77, 158);">ข้อมูลผู้เข้าร่วมอบรม/สัมมนา</h2>
    <br>
    <table class="table table-hover"> 
    <thead>
        <tr>
            <th scope="col">ชื่อ-นามสกุล</th>
            <th scope="col">ตำแหน่งงาน</th>
            <th scope="col">หัวข้อการอมรม</th>
            <th scope="col">วันที่เพิ่มข้อมูล</th>
            <th scope="col">แก้ไข</th>
            <th scope="col">ลบ</th>
        </tr>
    </thead>
    {% for train in all_train %}
    <tr>
        <td>{{ train.name }} {{ train.last }}</td>
        <td>{{train.job}}</td>
        <td>{{train.section}}</td>
        <td>{{ train.date}}</td>
        <td>
            <a href="{% url 'edit' train.id %}" class="btn" style="background-color: rgb(249, 204, 26); color: white;">แก้ไข</a>
        </td>
        <td>
            <a href="{% url 'delete' train.id %}" class="btn" style="background-color: rgb(255, 70, 70); color: white;" onclick="return confirm('คุณต้องการลบข้อมูลนี้หรือไม่?')">ลบ</a>
        </td>
        

    </tr>
    {% endfor %}
</tbody>
</table>



{% endblock %}
